@import url("https://fonts.googleapis.com/css2?family=Babylonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Quicksand:wght@300&display=swap");
.starlight, .tittle, #barra {
  color: #AE9B8C;
  font-family: 'babylonica', cursive;
  text-align: center; }

.guias, .contact_form input, .contact_form textarea, .contact_form button {
  border-style: solid;
  margin-top: 10px; }

.tittle {
  font-size: 70px;
  background-color: black;
  margin-bottom: 0; }

.navbar {
  background-color: #AE9B8C; }

.nav-link {
  transform: scale(1);
  transition: 0.4s ease; }

.nav-link:hover {
  transform: scale(1.2);
  transition: all 0.4s ease; }

@media screen and (max-width: 800px) {
  .nav-link {
    transform: scale(0.9);
    transition: 0.4s ease; }
  .nav-link:hover {
    transform: scale(1);
    transition: 0.4s ease; } }

#barra {
  background-color: black;
  font-size: 90px;
  margin-top: 0; }

@media screen and (max-width: 800px) {
  #barra {
    background-color: black;
    color: #AE9B8C;
    font-family: 'babylonica', cursive;
    text-align: center;
    font-size: 50px;
    margin-top: 0; } }

.row {
  text-align: center; }

.card-body {
  background-color: black; }

.card-title {
  text-decoration: none;
  font-family: 'Caveat', sans-serif;
  font-size: 3vh; }

.footer {
  background-color: black;
  color: #AE9B8C; }

.footer {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  padding: 20px 0px; }

.links {
  text-decoration: none;
  color: #AE9B8C; }

@media screen and (max-width: 800px) {
  .footer {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 10px 0px; } }

body {
  background-image: url(../img/logos/aber.png);
  background-repeat: repeat; }

.contact_form {
  width: 600px;
  height: auto;
  margin: 50px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: black;
  padding-left: 30px; }
  .contact_form input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #AE9B8C;
    padding-left: 10px;
    margin-bottom: 20px;
    float: center; }
  .contact_form textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    float: center; }
  .contact_form label {
    display: block;
    text-align: center; }
  .contact_form button {
    height: auto;
    width: 550px;
    background-color: #AE9B8C;
    border-color: black;
    border-radius: 10px;
    cursor: pointer; }
  .contact_form button p {
    color: #820E11;
    font-size: 40px;
    font-family: 'Caveat', cursive;
    margin: auto;
    padding: 0%; }
  .contact_form p {
    font-size: 30px;
    color: #AE9B8C;
    text-align: center;
    font-family: 'Caveat', cursive; }

@media screen and (max-width: 800px) {
  .contact_form {
    width: 100%; }
    .contact_form button {
      width: 95%; }
    .contact_form input {
      background-color: #fbfbfb;
      border-style: solid;
      margin-top: 10px;
      width: 300px;
      height: 40px;
      border-radius: 5px;
      border-width: 1px;
      border-color: #AE9B8C;
      padding-left: 10px;
      margin-bottom: 20px;
      float: center; }
    .contact_form textarea {
      background-color: #fbfbfb;
      border-style: solid;
      margin-top: 10px;
      width: 300px;
      height: 150px;
      border-radius: 5px;
      border-width: 1px;
      border-color: black;
      padding-left: 10px;
      margin-bottom: 20px;
      padding-top: 15px;
      float: center; } }
